<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
    </a>
</nav>
<div class=" py-2" style="text-align:center">
    <h1>Gestión de sub-categorías</h1>
</div>
<div class="form-row py-2">
    <div class="col-sm-4">
        <label for="staticEmail" class="col-sm-2 col-form-label">Categoría</label>
    </div>
    <div class="col">
        <select class="form-control" #categoria name="categoria" *ngFor="let resp of resultado" required>
        <option value="{{ resp.descripcion }}">{{ resp.descripcion }}</option>
    </select>
    </div>
</div>
<section>
    <div class="py-4">
        <form (ngSubmit)="onSubmit(3,idPut1);" #deleteForm="ngForm">
            <div>
                <table class="table table-bordered">
                    <thead>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha de Creación</th>
                        <th scope="col">ELIMINAR</th>
                        <th scope="col">DETALLES</th>
                    </thead>
                    <tbody *ngFor="let resp of resultado ">
                        <tr>
                            <th scope="row">{{ resp.cod_sub_categoria }}</th>
                            <td>{{ resp.nombre }}</td>
                            <td>{{ (resp.fecha_creacion).slice(0, -14) }}</td>
                            <td><button #idPut1 value="{{ resp.cod_sub_categoria }}" (click)="onclick($event)" class="btn btn-danger btn-sm">
                                  <span class="far fa-trash-alt fa-lg" aria-hidden="true"></span></button></td>
                            <td><button #idPut2 (click)="update(resp)" class="btn btn-info btn-sm">
                                  <span class="far fa-pencil" aria-hidden="true"></span>*</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</section>
<section>
    <div class="mitad">
        <div class="peticiones">
            <form (ngSubmit)="onSubmit(1);" #peticionForm="ngForm" class="py-2">
                <h3 align="center">Ingreso de Sub Categorías</h3>
                <div class="form-row py-2">
                    <div class="col-sm-4">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Código de SubCategoría</label>
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" placeholder="Descripción" #descripcion name="descripcion" [(ngModel)]="peticion.descripcion" required />
                    </div>
                </div>
                <div class="form-row py-2">
                    <div class="col-sm-4">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" placeholder="Descripción" #descripcion name="descripcion" [(ngModel)]="peticion.descripcion" required />
                    </div>
                </div>
                <div class="form-row py-2">
                    <div class="col-sm-4">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Descripción</label>
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" placeholder="Descripción" #descripcion name="descripcion" [(ngModel)]="peticion.descripcion" required />
                    </div>
                </div>

                <div class="form-row py-2">
                    <div class="col-sm-4">
                        <label for="staticEmail" class="col-sm-4 col-form-label">Fecha Expiración</label>
                    </div>
                    <div class="col">
                        <input class="form-control" type="date" placeholder="Fecha expiracion" #fecha_expiracion name="fecha_expiracion" [(ngModel)]="peticion.fecha_expiracion" required />
                    </div>
                </div><br><br>
                <div class="form-row" style="justify-content: center;">
                    <div class="col-sm-4">
                        <button type="reset" class="btn btn-primary btn-user btn-block">Limpiar</button>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-primary btn-user btn-block">Ingresar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="mitad">
        <div class="peticiones">
            <form (ngSubmit)="onSubmit(2,idPut)" #putForm="ngForm">
                <h3 align="center">Detalle</h3>
                <div class="form-row">
                    <div class="col-sm-4">
                        <label for="staticEmail" class="col-sm-4 col-form-label">Código SubCategoría</label>
                    </div>
                    <div class="col">
                        <input class="form-control" type="number" disabled placeholder="Código SubCategoría" #idPut [(ngModel)]="peticionPut.codigo" name="idPut" min="1" required />
                    </div>
                </div>
                <div class="form-row py-2">
                    <div class="col-sm-4">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Código Categoría</label>
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" disabled placeholder="Código Categoría" #cod_categoria1 name="descripcion1" [(ngModel)]="peticionPut.descripcion" required />
                    </div>
                </div>
                <div class="form-row py-2">
                    <div class="col-sm-4">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" disabled placeholder="Nombre" #nombre1 name="descripcion1" [(ngModel)]="peticionPut.descripcion" required />
                    </div>
                </div>
                <div class="form-row py-2">
                    <div class="col-sm-4">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Descripción</label>
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" disabled placeholder="Descripción" #descripcion1 name="descripcion1" [(ngModel)]="peticionPut.descripcion" required />
                    </div>
                </div>
                <div class="form-row py-2">
                    <div class="col-sm-4">
                        <label for="staticEmail" class="col-sm-8 col-form-label">Fecha Creación</label>
                    </div>
                    <div class="col">
                        <input class="form-control" type="date" disabled placeholder="Fecha creación" #fecha_creacion1 name="fecha_expiracion1" [(ngModel)]="peticionPut.fecha_expiracion" required />
                    </div>
                </div><br>
                <div class="form-row" style="justify-content: center;">
                    <div class="col-sm-4">
                        <button class="btn btn-primary btn-user btn-block">Aceptar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>